{{yield}}

<table>
   {{#each this.gridRows as |row|}}
   <tr>
    {{#each row as |column|}}
    <td id={{column.key}} onclick={{action this.play}}>
      {{column.value}}
    </td>
    {{/each}}
   </tr>
   {{/each}}
</table>