.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winningCell {
  background-color: rgb(216, 216, 216);
}

td {
  border: 1px solid black;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 4rem;
  cursor: pointer;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
}